.content{
  width: 250px;
  margin: auto;
  margin-top: 50px;
  height: 400px;
  box-sizing: border-box;
  background: #d3d3d3;
}
h3{
  display: inline;
  margin-left: 30px;
  color: white;
}
.fa-clock-o{
  margin-left: 20px;
  color: white;
  margin-top: 5px;
}
header{
  background: #2e2c2c;
  height: 45px;

}